<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_index.css' %}">
    <title>Crafter Mall</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>Mall of the Crafters</h1>
            <!-- if logged in show Username with a tag and drop down menu -->
            {%if logged_user.id > 0 %}
            <p>Welcome, </p>
            <div class="user_drop_menu">
                <button class="user_menu_btn">{{logged_user.user_name}}</button>
                <div class="drop_menu_options">
                    <a href="/CrafterMall/Account/{{logged_user.id}}">Account</a>
                    <a href="/CrafterMall/{{logged_user.id}}/Store_Front">Store Front</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
                {%else%}
            <form action="log" method="post">
                {% csrf_token %}
                <input type="text" name="username_input" placeholder="Username">
                <input type="password" name="pw_input" placeholder="Password">
                <button type="submit">Log in</button>
            </form>
            <p> <a href="/CrafterMall/Signup">Register</a> </p>
            {%endif%}
<!-- need to add a cart function -->
        </header>
        <nav>
<!-- Navigation bar 
            topics: Crafts, Commissions... more to come -->
            <ul>
                <li><a href="Textile">Textile</a></li>
                <li><a href="Leather">Leather Work</a></li>
                <li><a href="Metal">Metal Work</a></li>
                <li><a href="Jewelry">Jewelry</a></li>
                <li><a href="Carpentry">Carpentry</a></li>
                <li><a href="Digital">Digital Art</a></li>
            </ul>
            
            <!-- Search bar to file through  -->
            <div class="searchbar">
                <input type="text" placeholder="Search">
                <button type="submit">Find</button>
            </div>
        </nav>

<!-- main display of the crafts being sold -->
        <div class="mainBody">
<!-- Show the latest 6 items posted for sale -->
            <!-- <div class="latestCraft">
                <h2>Latest Crafts Posted</h2>
                <div class="craft">
                    <div class="craftImg">
                        <img src="{% static 'img/Sample_image.jpg'%}" alt="Broken image">
                        <h3>Product name</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ad quae libero minus provident aliquam dolore quidem cupiditate excepturi, quasi reiciendis voluptatibus voluptate velit repellat facilis nihil voluptatum nisi accusantium.</p>
                </div>
            </div> -->
            
            <h2>Textile</h2>
            <div class="display_product">
                {%for item in text_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            <p>Made by {{item.seller.user_name}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Leather</h2>
            <div class="display_product">
                {%for item in leather_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            <p>Made by {{item.seller.user_name}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Metal Work</h2>
            <div class="display_product">
                {%for item in metal_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            <p>Made by {{item.seller.user_name}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Jewelry</h2>
            <div class="display_product">
                {%for item in jewel_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                            <p>Made by {{item.seller.user_name}}</p>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Carpentry</h2>
            <div class="display_product">
                {%for item in wood_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                            <p>Made by {{item.seller.user_name}}</p>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Digital Art</h2>
            <div class="display_product">
                {%for item in digital_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                            <p>Made by {{item.seller.user_name}}</p>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                            {%if item.in_stock_num and item.on_order == False%}
                            <p>Out of Stock</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>


<!-- Show the latest 3 crafts posted per crafting category -->
        </div>
<!-- the footer -->
        <footer>
            <div>
                <p>copyright tradmark patent information</p>
            </div>
            <ul>
                <li><a href="">twitter</a> </li>
                <li><a href="">linkedin</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Customer Service</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>