{%extends 'base.html'%}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_index.css' %}">
{%block content%}
<!-- main display of the crafts being sold -->
        <div class="mainBody"> 
            <h2>Textile</h2>
            <div class="display_product">
                {%for item in text_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            <p>Made by {{item.seller.user_name}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Leather</h2>
            <div class="display_product">
                {%for item in leather_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            <p>Made by {{item.seller.user_name}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Metal Work</h2>
            <div class="display_product">
                {%for item in metal_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            <p>Made by {{item.seller.user_name}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Jewelry</h2>
            <div class="display_product">
                {%for item in jewel_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                            <p>Made by {{item.seller.user_name}}</p>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Carpentry</h2>
            <div class="display_product">
                {%for item in wood_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                            <p>Made by {{item.seller.user_name}}</p>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%else%}
                            <p>Out of Stock</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>

            <h2>Digital Art</h2>
            <div class="display_product">
                {%for item in digital_db%}
                    <div class="craft">
                        <div class="craftImg">
                            <h3><a href="/show_product/{{item.material}}/{{item.id}}">{{item.craft_name}}</a></h3>
                            <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                            <h3>${{item.price}}</h3>
                            <p>Made by {{item.seller.user_name}}</p>
                        </div>
                        <div class="craft_info">
                            <p>{{item.description}}</p>
                            {% if item.in_stock_num != 0 %}
                            <p>{{item.in_stock_num}} avalible</p>
                            {%endif%}
                            {% if item.on_order == True %}
                            <p>Made to Order</p>
                            {%endif%}
                            {%if item.in_stock_num and item.on_order == False%}
                            <p>Out of Stock</p>
                            {%endif%}
                        </div>
                    </div>
                {%endfor%}
            </div>


<!-- Show the latest 3 crafts posted per crafting category -->
        </div>
<!-- the footer -->
{% endblock %}