{%extends 'base.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles_show_product.css' %}">
{%block content%}
    <div class="craft">
        <div class="craftImg">
            <img src="{{MEDIA_URL}}{{details.craft_image}}" alt="Broken image">
        </div>
        <div class="craftdetails">
            <h3>{{details.craft_name}}</h3>
            <h4>${{details.price}}</h4>
            <p>{{details.description}}</p>
            <p>Made By <a href="">{{details.seller.user_name}}</a></p>
            {% if details.in_stock_num != 0 %}
            <p>{{details.in_stock_num}} avalible</p>
            {% elif details.on_order == True %}
            <p>Made to Order</p>
            {%else%}
            <p>Out of Stock</p>
            {%endif%}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>
{%endblock%}
