{%extends 'base.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles_show_product.css' %}">
{%block content%}
    <div class="wrapper">
        <header>
            <h1>{{shop_stall.store_name}}</h1>
            <a href="/">Back to the Mall</a>
        </header>

        <div class="product_type">
            <h4>Textile</h4>
            {% for item in cloth_db %}
                <div class="product">
                    <div class="craftImg">
                        <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                    </div>
                    <div class="title_price">
                        <h3>{{item.craft_name}}</h3>
                        <h4>${{item.price}}</h4>
                    </div>
    
                    <div class="desc_block"> 
                        <p>{{item.description}}</p> 
                    </div>
                    {%if logged_user == shop_stall.id %}
                        <a href="">Edit</a>
                        <a href="/delete_cloth/{{item.id}}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <div class="product_type">
            <h4>Leather</h4>
            {% for item in leather_db %}
                <div class="product">
                    <div class="craftImg">
                        <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                    </div>
                    <div class="title_price">
                        <h3>{{item.craft_name}}</h3>
                        <h4>${{item.price}}</h4>
                    </div>
    
                    <div class="desc_block"> 
                        <p>{{item.description}}</p> 
                    </div>
                    {%if logged_user == shop_stall.id %}
                        <a href="">Edit</a>
                        <a href="/delete_leather/{{item.id}}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="product_type">
            <h4>metal</h4>
            {% for item in metal_db %}
                <div class="product">
                    <div class="craftImg">
                        <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                    </div>
                    <div class="title_price">
                        <h3>{{item.craft_name}}</h3>
                        <h4>${{item.price}}</h4>
                    </div>
    
                    <div class="desc_block"> 
                        <p>{{item.description}}</p> 
                    </div>
                    {%if logged_user == shop_stall.id %}
                        <a href="">Edit</a>
                        <a href="/delete_metal/{{item.id}}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="product_type">
            <h4>Carpentry</h4>
            {% for item in wood_db %}
                <div class="product">
                    <div class="craftImg">
                        <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                    </div>
                    <div class="title_price">
                        <h3>{{item.craft_name}}</h3>
                        <h4>${{item.price}}</h4>
                    </div>
                    <h4>{{item.id}}</h4>
                    <div class="desc_block"> 
                        <p>{{item.description}}</p> 
                    </div>
                    {%if logged_user == shop_stall.id %}
                        <a href="">Edit</a>
                        <a href="/delete_wood/{{item.id}}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="product_type">
            <h4>Jewelry</h4>
            {% for item in jewel_db %}
                <div class="product">
                    <div class="craftImg">
                        <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                    </div>
                    <div class="title_price">
                        <h3>{{item.craft_name}}</h3>
                        <h4>${{item.price}}</h4>
                    </div>
    
                    <div class="desc_block"> 
                        <p>{{item.description}}</p> 
                    </div>
                    {%if logged_user == shop_stall.id %}
                        <a href="">Edit</a>
                        <a href="/delete_jewel/{{item.id}}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="product_type">
            <h4>Digital Art</h4>
            {% for item in digi_db %}
                <div class="product">
                    <div class="craftImg">
                        <img src="{{MEDIA_URL}}{{item.craft_image}}" alt="Broken image">
                    </div>
                    <div class="title_price">
                        <h3>{{item.craft_name}}</h3>
                        <h4>${{item.price}}</h4>
                    </div>
    
                    <div class="desc_block"> 
                        <p>{{item.description}}</p> 
                    </div>
                    {%if logged_user == shop_stall.id %}
                        <a href="">Edit</a>
                        <a href="/delete_digi/{{item.id}}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- if user's is on own page -->
        {%if logged_user == shop_stall.id %}
        <!-- <a href="">edit</a> -->
        <a href="/CrafterMall/{{shop_stall.id}}/Add_a_Craft">Add a product</a>
        {%endif%}
        <div class="shop_comments">
            <h3>Comments</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos eaque ipsum nostrum tenetur corporis. Nemo ipsam, culpa debitis enim dicta sapiente suscipit consequatur ex nisi voluptatibus. Ab quas perspiciatis velit!</p>
        </div>
    </div>
{%endblock%}