<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles_store_front.css' %}">
    <title>CrafterMall</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>{{shop_stall.store_name}}</h1>
            <a href="/">Back to the Mall</a>
        </header>
        
        <div class="product_type">
            {% for type in stock_db%}
            <h4>{{type.craft_type}}</h4>
                {% for craft in stock_db %}
                    <div class="product_display">
                        {%if type.craft_type == craft.craft_type%}
                            <div class="product">
                                <div class="craftImg">
                                    <img src="{{MEDIA_URL}}{{craft.craft_image}}" alt="Broken image">
                                </div>
                                <div class="title_price">
                                    <h3>{{craft.item_title}}</h3>
                                    <h4>${{craft.price}}</h4>
                                </div>
                
                                <div class="desc_block"> 
                                    <p>{{craft.description}}</p> 
                                </div>
                                {%if logged_user == shop_stall.id %}
                                    <a href="">Edit</a>
                                {% endif %}
                            </div>
                        {%endif%}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- if user's is on own page -->
        {%if logged_user == shop_stall.id %}
        <!-- <a href="">edit</a> -->
        <a href="/CrafterMall/{{shop_stall.id}}/Add_a_Craft">Add a product</a>
        {%endif%}
        <div class="shop_comments">
            <h3>Comments</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos eaque ipsum nostrum tenetur corporis. Nemo ipsam, culpa debitis enim dicta sapiente suscipit consequatur ex nisi voluptatibus. Ab quas perspiciatis velit!</p>
        </div>
    </div>
</body>
</html>