<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_store_front.css' %}">
    <title>CrafterMall</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>{{shop_stall.store_name}}</h1>
            <a href="/">Back to the Mall</a>
        </header>
        <div class="product_display">
            
            <div class="product">
                <div class="craftImg">
                    <img src="{% static 'img/Sample_image.jpg'%}" alt="Broken image">
                    <h3>Product name</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ad quae libero minus provident aliquam dolore quidem cupiditate excepturi, quasi reiciendis voluptatibus voluptate velit repellat facilis nihil voluptatum nisi accusantium.</p>
            </div>
            
        </div>
        <!-- if user's is on own page -->
        {%if logged_user == shop_stall.id %}
        <a href="">edit</a>
        <a href="/CrafterMall/{{shop_stall.id}}/Add_a_Craft">Add a product</a>
        {%endif%}
        <div class="shop_comments">
            <h3>Comments</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos eaque ipsum nostrum tenetur corporis. Nemo ipsam, culpa debitis enim dicta sapiente suscipit consequatur ex nisi voluptatibus. Ab quas perspiciatis velit!</p>
        </div>
    </div>
</body>
</html>