*{
    padding: 0px;
    margin: 0px;
    
}
.wrapper{
    width: auto;
    height: auto;
    padding: 15px;
    border: solid blue 25px;
}
.Names{
    display: flex;
    justify-content: space-between;
}
.Names input{
    width: 45%;
}
.st_location input{
    width: 100%;
}
.c_s_z_location{
    display: flex;
    justify-content: space-evenly;
}
